html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: SvenskForm-Regular;
}

button {
  font-family: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .app {
    flex-direction: column;
    align-items: center;
  }
}

.calendar {
  width: min-content;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.calendar-body {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar__day {
  border: 1px solid lightgray;
  vertical-align: top;
  font-size: 0.8rem;
}

.calendar__day--empty {
  border: none;
}

.calendar__day--picked {
  position: relative;
  background-color: rgba(255, 0, 0, 0.3);
  width: 50%;
  left: 25%;
  text-align: center;
  border-radius: 10px;
}
.calendar__day--picked--spans {
  text-align: center;
  position: relative;
  left: 75%;
  border-radius: 10px;
  background-color: rgba(0, 0, 255, 0.5);
  width: 50%;
}

.calendar__day:hover {
  background-color: lightblue;
  cursor: pointer;
}

.calendar__head:nth-child(n + 7) {
  color: red;
}

.calendar__head {
  width: 3rem;
  height: 3rem;
  text-align: center;
}

.calendar__controls_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.calendar__controls {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.calendar__r {
  width: 100%;
}

.button__navigate {
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  flex: 1;
}

.button__reset {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}

.button__export {
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}

@font-face {
  font-family: "SvenskForm-Regular";
  src: local("SvenskForm-Regular"),
    url(./SvenskForm-Regular.otf) format("opentype");
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.shift-form {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 10px;
}

.shifts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fields {
  border: none;
  display: flex;
  flex-direction: column;
}
.fields > * {
  width: 100%;
}

.radio__button:hover {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
